<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div id="header"></div>
    <script src="../../assets/js/SesionUser.js"></script>
</head>
<body>
    <!-- Placeholder para menú -->
    <div id="menul"></div>
    <!-- Contenido único de la página -->
    <div class="dashboard-container">
        <div class="table-container">
            <h2 style="text-align: center;">Usuarios</h2>
        </div>
    </div>
    <!-- Placeholder para footer -->
    <div id="footer"></div>
    <!-- Cargar lógica --> 
    <script src="../../assets/js/LogicaComponents.js"></script>
    <script src="../../assets/js/LogicaMenu.js"></script>
</body>
</html>
