<!-- 9. Footer-->
<footer>
    <div class="social-links">
        <a href="https://www.facebook.com/rapicleanpuebla"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/rapicleanpuebla/"><i class="fab fa-instagram"></i></a>
    </div>
    <p>© 2025 Todos los derechos reservados</p>
</footer>

<div class="float-buttons">
    <a href="#" class="back-to-top" title="Volver al inicio">
        <i class="fas fa-arrow-up"></i>
    </a>

    <a href="https://wa.me/5212211276404" class="whatsapp-btn" target="_blank" title="Contactar por WhatsApp">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>